*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title {
    height: 80px;
}
.title h1 {
    color: blue;
    font-size: 3rem;
}
.selector{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

#icon_container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
    
}

.icons {
    width: 300px;
    padding: 0 2rem;
    height: 120px;
    background-color: white;
    margin: 35px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.icons i {
    font-size: 30px;
}
h3{
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;

}